<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.checkable1">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_main"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_main_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Checkable1"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".OnBoarding_Scan2"
            android:exported="false" />
        <activity
            android:name=".OnBoarding_Scan1"
            android:exported="false" />
        <activity
            android:name=".result.NoneResultActivity"
            android:exported="false" />
        <activity
            android:name=".result.AbnormalResultActivity"
            android:exported="false" />
        <activity
            android:name=".result.NormalResultActivity"
            android:exported="false" />
        <activity
            android:name=".imgprocessing.DetectorActivity"
            android:exported="false" />
        <activity
            android:name=".imgprocessing.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".hospital.SearchHospitalActivity"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCjhRlm9748ynkgII2lhuarwWH4zk8Gias" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>